body {
    height:auto;
    width:100%;
    overflow-y: scroll; 
       font-family: 'Poiret One' ;
       background-color: rgb(0, 0, 0);
       color:white;text-align: center;margin:0
  
     }
   
     body::-webkit-scrollbar {
       display: none;
   }
     * {
       box-sizing: border-box;
     }
     .header{position: fixed;display: flex;width:100%;height:170px;z-index:999;background-color: black;margin-bottom: 170px;padding:0;align-items: center;justify-content: center;top:0;}

 
   .section0 h1{font-family:'Sen';font-size:700%;padding:0; margin-bottom: 0 ;margin-top: 20px;color:white;width:100%;text-align: center;background-color:black;background-image: url('/Users/thibaultgrisel/Desktop/Project UDEMY HTLM CSS JAVASCRIPT/VERSION FINALE/imgblogs/louisvuittonxsupreme1-2.jpeg');background-size: 100%;background-position: center;}
 
   .section0 h2{color: rgb(151, 19, 45);margin-bottom:7%;transition: ease-in-out .5s;font-size:200%;font-family: 'Poiret One';margin-top:0;margin-bottom: 0; text-align: center;}
   .section0{display: flex;   justify-content: center;flex-direction: column;width:100%;z-index: 90; align-items: center; background-color: black;margin-top:100px}
   .sections{width:100%;align-items: center;}
   .dropbtn {width:111px;
    background-color:rgb(6, 15, 43);
    height:20px;
    color:white;
    padding:0;
    font-size: 120%;
    font-family: 'Poiret One';
    border: none;
    cursor: pointer;
    border-radius: 5px; transition: ease-in 0.6s;margin-top: 0;
    justify-content: center;
  }
  
  .menu {
    position: relative;
    display: flex;flex-direction: column;
    align-items: center; text-align: center;  border-radius: 10px;z-index:999
    

   
  
   
  }
  
  .menubox {width:28vw;
    display:none ;align-items: center;justify-content:center;
    position: absolute;
   
    min-width: 160px;
    
    z-index: 1;
  
    transition: ease-in 1s;
   
  }
  
  .menubox a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: ease-in 0.1s;
    text-align: center;z-index:999
    
  }
  
  .menubox a:hover {background-color: white; transform: scale(1.5);border-radius: 10px; color: rgb(6, 15, 43);z-index:999}
  
  .menu:hover .menubox {
    display: block;
    background-color: rgb(151, 19, 45);z-index:999
  }
  
  .menu:hover .dropbtn {
    background-color:white;color:rgb(151, 19, 45);opacity: 0;z-index:999
  }

  .logomenu{display:flex;flex-direction: column;}

  @media only screen and (max-width: 800px) {

    .section0 h1{ 
       font-size: 5em; 
    }
    .header{height:135px}
 
}
@media only screen and (max-width: 600px) {

    .section0 h1{ 
       font-size: 3em; 
    }
    .header{height:95px}
 }

.text{justify-content: center;height:auto;text-align: justify;align-items: center;display: flex;padding:10%;margin-top: 200px;}

.text p{display:flex;align-items: center;line-height: 40px; font-size:1.5rem}