body {
    height:auto;
    width:100%;
    overflow-y: scroll; 
       font-family: 'Poiret One' ;
       background-color: rgb(0, 0, 0);
       color:white;text-align: center;margin:0
 
     }
   
     body::-webkit-scrollbar {
       display: none;
   }
     * {
       box-sizing: border-box;
     }
     
     .container, .sections, .section {
       position: relative;
       height:auto;
     }
   
     .header{position: fixed;display: flex;width:100%;height:170px;z-index:99;background-color: white;margin-bottom: 170px;padding:0;align-items: center;justify-content: center;top:0}
 
   
     .section0 h1{font-family:'Sen';font-size:700%;padding:0; margin-bottom: 0 ;margin-top: 20px;color:rgb(6, 15, 43);width:100%;text-align: center;}
   
     .section0 h2{color: rgb(151, 19, 45);margin-bottom:7%;transition: ease-in-out 2.5s;font-size:200%;font-family: 'Poiret One';margin-top:0;margin-bottom: 0; text-align: center;}
     .section0{display: flex;   justify-content: center;flex-direction: column;width:100%;z-index: 999; align-items: center;}
     .sections{width:100%;align-items: center;}
   

   
     .row {margin-top: 210px;
        display: flex;
        flex-wrap: wrap;
        padding:  0px ;
        width:100%
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        flex: 50%;
        max-width:50%;
        
        padding:  0px;
      }
      
      .column img {
        margin-top: 0px;
        vertical-align: middle;
        width: 100%;
        border:4px  solid black;

    transition: ease-in 0.2s;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 800px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }

      
      @media only screen and (max-width: 800px) {

        .section0 h1{ 
           font-size: 5em; 
        }
        .header{height:135px}
     
    }
    @media only screen and (max-width: 600px) {

        .section0 h1{ 
           font-size: 3em; 
        }
        .header{height:95px}
     }

    
     



     .dropbtn {width:111px;
        background-color:rgb(6, 15, 43);
        height:20px;
        color:white;
        padding:0;
        font-size: 120%;
        font-family: 'Poiret One';
        border: none;
        cursor: pointer;
        border-radius: 5px; transition: ease-in 0.6s;margin-top: 0;
        justify-content: center;
      }
      
      .menu {
        position: relative;
        display: flex;flex-direction: column;
        align-items: center; text-align: center;  border-radius: 10px;
        
    
       
      
       
      }
      
      .menubox {width:28vw;
        display:none ;align-items: center;justify-content:center;
        position: absolute;
       
        min-width: 160px;
        
        z-index: 1;
      
        transition: ease-in 1s;
       
      }
      
      .menubox a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition: ease-in 0.1s;
        text-align: center;
        
      }
      
      .menubox a:hover {background-color: white; transform: scale(1.5);border-radius: 10px; color: rgb(6, 15, 43)}
      
      .menu:hover .menubox {
        display: block;
        background-color: rgb(151, 19, 45);
      }
      
      .menu:hover .dropbtn {
        background-color:white;color:rgb(151, 19, 45);opacity: 0;
      }

      .logomenu{display:flex;flex-direction: column;}

   